.item-select-container {
  background-color: var(--container-body);
  border-radius: 5px;
  border: 3px solid var(--container-body-border);
}

.item-select-list {
  list-style: none;
  display: block;
  max-height: 60vh;
  overflow-y: auto;
  padding-left: 0 !important;
  scroll-behavior: smooth;
}

.item-select-item {
  color: white;
  padding: 0.5em;
  margin: 0.5em;
  margin-left: 20px;
  border-radius: 4px;
  border: 2px solid var(--container-body);
}

.item-select-item:hover {
  background-color: var(--select-hover);
  border-color: var(--select-hover-border);
  cursor: pointer;
}

.item-select-item.selected {
  background-color: var(--select-body);
  border-color: var(--select-body-border);
  cursor: default;
}

.item-select-button {
  margin-top: 16px;
}
