.image-div {
  position: relative;
}

.image-indicator {
  position: absolute;
  bottom: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 1px 2px;
  border-radius: 5px;
  font-size: 10px;
  white-space: nowrap;
}
