<div th:replace="~{fragments/headerFragment::headerFragment}"></div>

<div id="dataTable">
    <div th:replace="~{fragments/containerTableFragment::containerTableFragment}"></div>
</div>

<div class="modal fade" id="containerConfirmationModal" tabindex="-1" aria-labelledby="containerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="containerConfirmationModalLabel">Are you sure you want to delete this?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="" id="deleteButtonReference" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>

<style>
    .disabled {
        cursor: not-allowed;
        opacity 0.5;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelectorAll("#deleteButton").forEach((e) => {
            e.addEventListener("click", () => {
                var href= e.getAttribute('href');
                $('#containerConfirmationModal #deleteButtonReference').attr('href', href);
            });
        });

        var currentPage = 0;

        document.getElementById('dataTable').addEventListener('click', function(event) {
            if(event.target.classList.contains('page-link')){
                var targetPage = event.target.getAttribute('data-page');

                if(targetPage === 'prev'){
                    currentPage--;
                } else if(targetPage === 'next'){
                    currentPage++;
                } else {
                    currentPage = parseInt(targetPage);
                }

                var url = "/container/page?page=" + currentPage;

                var xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            document.getElementById('containerTableFragment').innerHTML = xhr.responseText;
                        } else {
                            console.error('Request failed: ' + xhr.status);
                        }
                    }
                };

                xhr.open('GET', url, true);
                xhr.send();
            }

            if(event.target.id === 'deleteButton'){
                var href= event.target.getAttribute('href');
                $('#containerConfirmationModal #deleteButtonReference').attr('href', href);
            }
        });
    });
</script>

<div th:replace="~{fragments/footerFragment::footerFragment}"></div>