<div th:replace="~{fragments/headerFragment::headerFragment}"></div>

<form th:if="${container != null}" th:object="${container}" th:action="@{${'/container' + (isEdit ? '/edit' : '/create')}}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3">
        <label for="containerName" class="form-label">Name</label>
        <input type="text" class="form-control" id="containerName" th:field="*{name}">
    </div>
    <div class="mb-3">
        <label for="containerDescription" class="form-label">Description</label>
        <input type="text" class="form-control" id="containerDescription" th:field="*{description}">
    </div>
    <div class="mb-3">
        <label for="scannerId" class="form-label">Scanner ID</label>
        <input type="text" class="form-control" id="scannerId" th:field="*{scannerId}">
    </div>
    <div class="mb-3">
        <label for="parentContainerId" class="form-label">Parent Container ID</label>
        <input type="number" class="form-control" id="parentContainerId" th:field="*{parentContainer}">
    </div>
    <input type="hidden" th:field="*{containerItems}"/>
    <button type="submit" class="btn btn-primary" th:text="${isEdit ? 'Update' : 'Create'}"></button>
</form>

<form th:if="${itemCreationDTO != null}" th:object="${itemCreationDTO}" th:action="@{${'/item' + (isEdit ? '/edit' : '/create')}}" method="post">
    <input type="hidden" th:field="*{item.id}"/>
    <div class="mb-3">
        <label for="itemName" class="form-label">Name</label>
        <input type="text" class="form-control" id="itemName" th:field="*{item.name}" required>
    </div>
    <div class="mb-3">
        <label for="itemDescription" class="form-label">Description</label>
        <input type="text" class="form-control" id="itemDescription" th:field="*{item.description}">
    </div>
    <table id="linkTable" class="table table-secondary table-hover table-striped">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Scanner ID</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody id="linkTableBody">
            <tr th:each="link, iterStat : *{links}" id="containerRow">
                <th>
                    <label th:text="${iterStat.index + 1}"></label>
                </th>
                <td id="scannerIdInput">
                    <input th:field="*{links[__${iterStat.index}__].scannerId}" type="text" class="form-control input" />
                </td>
                <td id="quantityInput">
                    <input th:field="*{links[__${iterStat.index}__].quantity}" type="number" class="form-control" />
                </td>
            </tr>
        </tbody>
    </table>

    <input type="hidden" th:field="*{item.containerItems}"/>
    <button type="submit" class="btn btn-primary" th:text="${isEdit ? 'Update' : 'Create'}"></button>
</form>

<style>
    [required] {
        border: 2px solid red;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        var lastInput = document.querySelector('#linkTableBody:last-child #scannerIdInput');
        var rowToDuplicate = document.getElementById('containerRow');
        var numberOfRows = document.getElementById('linkTableBody').children.length;

        lastInput.addEventListener('input', cloneRow);

        function cloneRow(){
            var table = document.getElementById('linkTableBody');
            var newRow = rowToDuplicate.cloneNode(true);
            numberOfRows++;

            newRow.removeAttribute('id');
            newRow.querySelector('th label').textContent = numberOfRows;

            var scannerIdInput = newRow.querySelector('#scannerIdInput input');
            scannerIdInput.value = '';
            scannerIdInput.addEventListener('input', cloneRow);
            scannerIdInput.id = 'links' + (numberOfRows - 1) + '.scannerId';
            scannerIdInput.name = 'links[' + (numberOfRows - 1) + '].scannerId';

            var quantityInput = newRow.querySelector('#quantityInput input');
            quantityInput.id = 'links' + (numberOfRows - 1) + '.quantity';
            quantityInput.name = 'links[' + (numberOfRows - 1) + '].quantity';

            newRow.querySelector('#scannerIdInput').id = 'scannerIdInput' + (numberOfRows - 1);
            newRow.querySelector('#quantityInput').id = 'quantityInput' + (numberOfRows - 1);

            table.appendChild(newRow);

            this.removeEventListener('input', cloneRow);
        }
    });
</script>

<div th:replace="~{fragments/footerFragment::footerFragment}"></div>