<div th:replace="~{fragments/headerFragment::headerFragment}"></div>

<div class="container mt-5">
    <div class="input-group mb-3">
        <input type="text" class="form-control" aria-label="Search" id="searchInput" placeholder="Search" th:value="${search}">
    </div>
</div>

<div th:replace="~{fragments/tableFragment::tableFragment}"></div>

<div class="modal fade" id="itemConfirmationModal" tabindex="-1" aria-labelledby="itemConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="itemConfirmationModalLabel">Are you sure you want to delete this?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" href="" id="deleteButtonReference" role="button">Delete</a>
            </div>
        </div>
    </div>
</div>

<style>
    .collapsing {
        transition: none !important;
    }

    .disabled {
        cursor: not-allowed;
        opacity 0.5;
    }
</style>

<script>
    document.querySelectorAll("#deleteButton").forEach((e) => {
        e.addEventListener("click", () => {
            var href= e.getAttribute('href');
            console.log(href);
            $('#itemConfirmationModal #deleteButtonReference').attr('href', href);
        });
    });

    document.getElementById('searchInput').addEventListener('input', function() {
            var search = this.value;
            var url = "/item/search?search=" + search;
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById('tableFragment').innerHTML = xhr.responseText;
                    } else {
                        console.error('Request failed: ' + xhr.status);
                    }
                }
            };
            xhr.open('GET', url, true);
            xhr.send();
        });
</script>

<div th:replace="~{fragments/footerFragment::footerFragment}"></div>